:root {
    --pink: rgb(251, 107, 129);
    --pink-transparent: rgba(251, 107, 129, 0.5);
    --green: rgba(67, 182, 107);
    --green-transparent: rgba(67, 182, 107, 0.5);
    --purple: rgb(68, 0, 128);
    --purple-transparent: rgba(68, 0, 128, 0.5);
    --blue: rgba(66, 142, 223);
    --blue-transparent: rgba(66, 142, 223, 0.7);
}

.nav-tabs .nav-link {
    color: #FF9040; 
}

.custom-text-wrapper {
    width: 70%; /* Adjust this value as needed */
    margin-left: auto;
    margin-right: auto;
    text-align: center; /* Center aligns the text */
}

.nt-color-navbar {
    background-color: #efd3b8 ; 
}

.nt-color-bg {
    background-color: #EBC9A6;
}

.nt-color-buttons {
    background-color: #FF9040; 
}

.nt-color-accent {
    background-color: #FFB672; 
}

body { 
    padding-top: 60px; 
    background-color: #f6e3d1 ;
    font-family: "Montserrat", sans-serif; 
}

.row-nt {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-right: calc(var(--bs-gutter-x));
    padding-left: calc(var(--bs-gutter-x));
}

.row-settings {
    margin-right: 50px !important;
    margin-left: 50px !important;
}

.p-5 {
    padding-top: 1.5rem !important;
}

.nt-color-menu {
    background-color: #FFF4E9;
}

.nt-food-text {
    transition: color 0.3s; /* Smooth transition for color change */
    cursor: default; /* Default cursor */
    text-align: left;
}

.day_arrow {
    text-decoration: none;
    cursor: pointer;
}

.nt-food-text:hover {
    background-color: #FFB672 ; /* Custom color on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.nt-food-text:focus {
    background-color: #FFB672 ;/* Custom color on hover */
}

/*.popover{
    min-width: 20%;
    max-width: 30%; /* Max Width of the popover (depending on the container!) 
}*/

.offcanvas {
    --bs-offcanvas-width: min(95vw, 225px) !important;
}

.nt-btn {
    --bs-btn-border-width:0 !important;
}
.btn-more-info {
    --bs-btn-border-width:1 !important;
    --bs-btn-color: #000000 !important;
    background-color: #fca555 !important;
}

.dynamic-progress-bar {
    width: 0%; /* Initial width */
    font-size: 20px;
  }

.header-container {
    display: flex;
    justify-content: center; /* Default to centering the title */
    align-items: center;
    width: 100%;
}

.header-container > .btn-close:not([style*="display: none"]) {
    margin-left: auto;  /* Pushes the button to the right when visible */
    justify-content: space-between; /* Aligns title to the left and button to the right when button is visible */
}

.hidden {
    display: none;
}

.icon {
    width: 2em;
    height: 2em;
    vertical-align: -0.125em;
}

.btn-close {
    align-self: center;  /* This centers the button vertically. Adjust as needed */
    margin-left: auto; 
    /* align-self: flex-start; */
}
.btn-dhall {
    --bs-btn-active-bg: #FF9040 !important;
    --bs-btn-color: #000000 !important;
    --bs-btn-bg: #FFB672 !important;
    --bs-btn-padding-x: 2rem !important;
}
.nt-navbar-center {
    display: flex;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: -1;
}

.custom-dropdown {
    width: auto; /* Or any specific width like 200px */
}


.fixed-top {
    padding: 0.5rem !important;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

/* STYLES FOR HISTORY PAGE*/
.histChart-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}
.hist-canvas {
    max-width: 48%;
    max-height: 55vh;
    height: auto;
}
.avg-cals {
    border-Color: var(--blue); 
    border-width: 2px;
    background-Color: var(--blue-transparent);
    font-size: large;
}
.avg-prots {
    border-Color: var(--pink); 
    border-width: 2px;
    background-Color: var(--pink-transparent);
    font-size: large;
}
.avg-carbs {
    border-Color: var(--green); 
    border-width: 2px;
    background-Color: var(--green-transparent);
    font-size: large;
}
.avg-fats {
    border-Color: var(--purple); 
    border-width: 2px;
    background-Color: var(--purple-transparent);
    font-size: large;
}

@media (max-width: 768px) {
    .histChart-container {
        flex-direction: column;
        align-items: center; /* Center the charts if desired */
    }
    .hist-canvas {
        max-width: 100%; /* Charts take full width on smaller screens */
    }
}

.radio-inline {
    white-space: nowrap;
    margin-right: 10px;
}

/*************************/

/* For My Plate footer (Log Food)*/
.card-footer {
    background-color: #ffaf63;
    color: black;
}

/* For servings line edits (smaller width) */
.small-input {
    width: 100px;
}

/* Smaller close buttons for individual foods */
.btn-close.btn-sm {
    font-size: 0.75rem; 
    padding: 0.25rem 0.5rem;
    align-self: center;
}

/* Bordered rows for editing foods rows */
.list-group-item {
    border: 1px solid #dee2e6; /* Add border */
    border-radius: 0; /* Remove border-radius */
}

/* Calorie goal lineedit */ 
/* <input type="number" class="form-control" name='line' placeholder="Enter the number here" min="0" required>*/
.form-calgoal {
    max-width: 250px;
    height: 50px;
    align-self: center;
}

.selected-label {
    height: 30px;
    font-size: 16px;
}

/* settings photo */
.fitted-image {
    width: 100%;   /* Makes the image take the full width of its container */
    height: auto;  /* Maintains the aspect ratio of the image */
}

/* Setting min heights for logfood page cards */
.logfood-card {
    min-height: 500px; /* Set minimum height */
  }

.loading-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 1000000000; /* Ensure it's above other content */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-spinner {
    border: 15px solid rgba(0, 0, 0, 0.1);
    border-left-color: #ff7300; /* Change the color of the spinner */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.homepage-card {
    min-height: 700px;
}

.select-dropdown {
    justify-content: center;
    background-color: #ffaf63; 
    border-color: #ffaf63; 
    color: #000000; 
}

.select-dropdown:focus,
.select-dropdown:hover,
.select-dropdown:active {
    background-color: #ffaf63 !important;
    border-color: #ffaf63  !important;
    color: #000000  !important;
    box-shadow: none; 
    outline: none; 
}

/* for individual food item nutrition facts ***********************/
.nutrition-container {
    display: flex; 
    flex-wrap: wrap; 
    gap: 5px;
}

.nutrition-fact {
    background-color: #e0e0e0; 
    padding: 2px;
    font-size: 14px;
    border-radius: 6px;
}

.nutrition-fact:last-child {
    margin-right: 0;
}

/* Personal food - description text box will grow with input */
.autosize {
    min-height: 50px;
    max-height: 300px;
    height: auto;
    overflow-y: hidden; /* Prevent scroll bar from appearing */
    resize: none; /* Optional: Disables manual resize */
}
.deleted-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    z-index: 10;
    display: none; /* Initially hidden */
}

.divider {
    border-left: 1px solid #000000;
}

/* Intro js css */

.introjs-prevbutton {
    display: none !important;
}

.customTooltip * {
    color: #090909;
    font-size: 18px
}
  
.customTooltip .introjs-tooltip-title {
    color: #c9800a;
}

.introjs-progressbar {
    background-color: #f2b34e !important;
}


.pagination-container {
    display: flex;
    justify-content: center; /* This centers the child horizontally in the container */
    width: 100%; /* Takes full width of its parent */
}

.popover-body {
    height: 300px;
    overflow-y: auto;
}
/*******************************************************************/