.nav-tabs .nav-link {
    color: #FF9040; /* Dark gray color */
}

.custom-text-wrapper {
    width: 70%; /* Adjust this value as needed */
    margin-left: auto;
    margin-right: auto;
    text-align: center; /* Center aligns the text */
}

.nt-color-navbar {
    background-color: #EBC9A6 ; 
}

.nt-color-bg {
    background-color: #EBC9A6;
}

.nt-color-buttons {
    background-color: #FF9040; 
}

.nt-color-accent {
    background-color: #FFB672; 
}

body { 
    padding-top: 60px; 
    background-color: #F3DDC6 ; 
}

.row-nt {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-right: calc(var(--bs-gutter-x));
    padding-left: calc(var(--bs-gutter-x));
}

.row-settings {
    margin-right: 50px !important;
    margin-left: 50px !important;
}

.p-5 {
    padding-top: 1.5rem !important;
}

/*.card-body-dhall-menus {
   
}*/

.nt-color-menu {
    background-color: #FFF4E9;
}

.nt-food-text {
    transition: color 0.3s; /* Smooth transition for color change */
    cursor: default; /* Default cursor */
    text-align: left;
}

.day_arrow {
    text-decoration: none;
    cursor: pointer;
}

.nt-food-text:hover {
    background-color: #FFB672 ; /* Custom color on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.nt-food-text:focus {
    background-color: #FFB672 ;/* Custom color on hover */
}

/*.popover{
    min-width: 20%;
    max-width: 30%; /* Max Width of the popover (depending on the container!) 
}*/

.offcanvas {
    --bs-offcanvas-width: min(95vw, 225px) !important;
}

.nt-btn {
    --bs-btn-border-width:0 !important;
}
.btn-more-info {
    --bs-btn-border-width:1 !important;
    --bs-btn-color: #000000 !important;
    background-color: #FFB672 !important;
}

.dynamic-progress-bar {
    width: 0%; /* Initial width */
    font-size: 20px;
  }

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    width: 2em;
    height: 2em;
    vertical-align: -0.125em;
}

.btn-close {
    align-self: flex-start; 
}
.btn-dhall {
    --bs-btn-active-bg: #FF9040 !important;
    --bs-btn-color: #000000 !important;
    --bs-btn-bg: #FFB672 !important;
    --bs-btn-padding-x: 2rem !important;
}
.nt-navbar-center {
    display: flex;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: -1;
}

.custom-dropdown {
    width: auto; /* Or any specific width like 200px */
}


.fixed-top {
    padding: 0.5rem !important;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

/* STYLES FOR HISTORY PAGE*/
.histChart-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}
.hist-canvas {
    max-width: 48%;
    max-height: 55vh;
    height: auto;
}
.avg-cals {
    border-Color: rgb(66, 142, 223); 
    background-Color: rgba(66, 142, 223, 0.5);
}
.avg-prots {
    border-Color: rgba(255, 182, 193, 1); 
    background-Color: rgba(255, 182, 193, 0.3);
}
.avg-carbs {
    border-Color: rgb(67, 182, 107); 
    background-Color: rgb(67, 182, 107, 0.3);
}
.avg-fats {
    border-Color: rgba(255, 205, 86); 
    background-Color: rgba(255, 205, 86, 0.5);
}
@media (max-width: 768px) {
    .histChart-container {
        flex-direction: column;
        align-items: center; /* Center the charts if desired */
    }
    .hist-canvas {
        max-width: 100%; /* Charts take full width on smaller screens */
    }
}

/*************************/

/* For My Plate footer (Log Food)*/
.card-footer {
    background-color: orange;
    color: black;
}

/* For servings line edits (smaller width) */
.small-input {
    width: 100px;
}

/* Smaller close buttons for individual foods */
.btn-close.btn-sm {
    font-size: 0.75rem; 
    padding: 0.25rem 0.5rem;
    align-self: center;
}

/* Bordered rows for editing foods rows */
.list-group-item {
    border: 1px solid #dee2e6; /* Add border */
    border-radius: 0; /* Remove border-radius */
}

/* Calorie goal lineedit */ 
/* <input type="number" class="form-control" name='line' placeholder="Enter the number here" min="0" required>*/
.form-calgoal {
    max-width: 250px;
    height: 50px;
    align-self: center;
}

.selected-label {
    height: 30px;
    font-size: 16px;
}

/* settings photo */
.fitted-image {
    width: 100%;   /* Makes the image take the full width of its container */
    height: auto;  /* Maintains the aspect ratio of the image */
}

/* Setting min heights for logfood page cards */

.logfood-card {
    min-height: 500px; /* Set minimum height */
  }

.loading-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 9999; /* Ensure it's above other content */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-spinner {
    border: 15px solid rgba(0, 0, 0, 0.1);
    border-left-color: #ff7300; /* Change the color of the spinner */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.homepage-card {
    min-height: 700px;
}

.select-dropdown {
    background-color: #FFB672;
    color: black;
    justify-content: center;
}

/* for individual food item nutrition facts ***********************/
.nutrition-container {
    display: flex; 
    flex-wrap: wrap; 
    gap: 5px;
}

.nutrition-fact {
    background-color: #e0e0e0; 
    padding: 2px;
    font-size: 14px;
    border-radius: 6px;
}

.nutrition-fact:last-child {
    margin-right: 0;
}
/*******************************************************************/