.nav-tabs .nav-link {
    color: #FF9040; /* Dark gray color */
}

.custom-text-wrapper {
    width: 70%; /* Adjust this value as needed */
    margin-left: auto;
    margin-right: auto;
    text-align: center; /* Center aligns the text */
}

.nt-color-navbar {
    background-color: #F3DDC6 ; 
}

.nt-color-bg {
    background-color: #EBC9A6;
}

.nt-color-buttons {
    background-color: #FF9040; 
}

.nt-color-accent {
    background-color: #FFB672; 
}

body { 
    padding-top: 60px; 
}

.nt-color-menu {
    background-color: #FFF4E9;
}

.nt-food-text {
    transition: color 0.3s; /* Smooth transition for color change */
    cursor: default; /* Default cursor */
}

.nt-food-text:hover {
    background-color: #FFB672 ; /* Custom color on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.nt-food-button-active {
    background-color: #FFB672 !important;
}

.offcanvas {
    --bs-offcanvas-width: min(95vw, 250px) !important;
}

.btn {
    --bs-btn-border-width:0 !important;
}

.dynamic-progress-bar {
    width: 0%; /* Initial width */
  }

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-close {
    align-self: flex-start; 
}
.btn-dhall {
    --bs-btn-active-bg: #FF9040 !important;
    --bs-btn-color: #000000 !important;
    --bs-btn-bg: #FFB672 !important;
}
.nt-navbar-center {
    display: flex;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: -1;
}

.fixed-top {
    padding: 0.5rem !important;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.histChart-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px; /* Add some padding on the sides */
}
.hist-canvas {
    max-width: 48%;
    max-height: 55vh;
    height: auto;
}

.avg-cals {
    border-Color: rgba(173, 216, 230); 
    background-Color: rgba(173, 216, 230, 0.5);
}
.avg-prots {
    border-Color: rgba(255, 182, 193, 1); 
    background-Color: rgba(255, 182, 193, 0.3);
}
.avg-carbs {
    border-Color: rgb(67, 182, 107); 
    background-Color: rgb(67, 182, 107, 0.3);
}
.avg-fats {
    border-Color: rgba(255, 205, 86); 
    background-Color: rgba(255, 205, 86, 0.5);
}