<!--==============================================================-->
<!-- about.html                                                   -->
<!--==============================================================-->

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>About NutriTiger</title>
    {% include 'bootstrap.html' %}
</head>

<body>
    {% include 'navbar.html' %}
    <h1>About NutriTiger</h1> 
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
        incididunt ut labore et dolore magna aliqua. Aliquet nibh praesent tristique magna. 
        Purus ut faucibus pulvinar elementum. Cras semper auctor neque vitae tempus quam. 
        Amet porttitor eget dolor morbi. Neque laoreet suspendisse interdum consectetur libero 
        id faucibus nisl. Nec sagittis aliquam malesuada bibendum arcu vitae. Maecenas volutpat 
        blandit aliquam etiam erat velit scelerisque in dictum. Aliquam malesuada bibendum arcu vitae 
        elementum curabitur vitae nunc.
    </p>
    <h2>Disclaimer</h2>
    <p> 
        NutriTiger & Campus Dining are committed to providing allergen & food preference 
        information to the Princeton University community. Nutritive values are approximate, 
        based on manufacturer data and an interface with the USDA Food and Nutrient Database. 
        For specific questions regarding our recipes, reach out to Campus Dining's chefs and 
        dietitians.
    </p>
    <h2>Acknowledgements</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
        incididunt ut labore et dolore magna aliqua. Aliquet nibh praesent tristique magna. 
        Purus ut faucibus pulvinar elementum. Cras semper auctor neque vitae tempus quam. 
        Amet porttitor eget dolor morbi.
    </p>
</body>
</html>