{% extends "layout.html" %}
{% set current_page = 'about' %}
{% block title %}About{% endblock %}
{% block content %}
<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-md-8 text-center py-2 px-5">
            <h1>About NutriTiger</h1>
            <p>
                NutriTiger is a web application that makes it easy for 
                Princeton students who eat in the dining halls to keep 
                track of their meals across all campus dining halls. 
                Not only can it show what each dining hall is offering 
                each day, but it will provide an in-depth breakdown of 
                each menu item’s macronutrients and allow users to build 
                healthy habits and track their meals and nutrition 
                statistics. Our goal is to provide a user-friendly 
                platform to increase transparency between students and 
                Campus Dining, whilst providing a resource to track food 
                intake. NutriTiger was created by Oyu Enkhbold, 
                Rishabh Jain (lead), Eric Kurkowski, Jewel Merriman, and
                Stephanie Oh.
            </p>
            <h2>Disclaimer</h2>
            <p> 
                Our app is designed to promote healthy eating habits and 
                nutritional awareness. NutriTiger & Campus Dining are 
                committed to providing allergen & food preference 
                information to the Princeton University community. 
                Nutritive values are approximate, based on manufacturer 
                data and an interface with the USDA Food and Nutrient 
                Database. For specific questions regarding our recipes, 
                reach out to Campus Dining's chefs and dietitians.  
                If you are struggling with or have concerns about an 
                eating disorder, we encourage you to seek guidance from 
                a qualified healthcare professional who can offer 
                customized assistance and support tailored to your 
                individual circumstances.
            </p>
            <h2>Acknowledgements</h2>
            <p>
                NutriTiger was created as a final project for COS333:
                Advanced Programming Techniques taught by Professor
                Robert Dondero in Spring 2024. We thank both Professor
                Dondero and our TA Creston Brooks for their invaluable
                support on NutriTiger.
            </p>
        </div>
    </div>
</div>
{% endblock %}