{% extends "layout.html" %}
{% set current_page = 'customfood' %}
{% block title %}My Custom Foods{% endblock %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
<div id="loading-animation" class="loading-animation" style="display: none;">
    <div class="loading-spinner"></div>
</div>
<div class = "p-5">
    <div class = "text-center">
        <h1>My Custom Foods</h1>
        <h5 class="text-center px-2">See an overview of your custom foods and add to your collection of recipes.</h5>
    </div>
    <div class="text-center p-3">
        <div style="align-items: center;">
            <div class="d-inline-block">
                <button id="add_food_btn" onclick="window.location.href='{{ url_for('custom_food') }}'" class="btn btn-primary" style="display: block;">+ Add a custom food</button>
            </div>
            <div class="d-inline-block p-2">
                <button type="submit" id="edit_custom_foods" class="btn btn-primary" style="display: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                    </svg>
                    Edit Custom Foods
                </button>
            </div>
        </div>
        <div class="d-inline-block p-2">
            <button type="submit" id="stop_editing" class="btn btn-primary" style="display: none;">
                Stop Editing
            </button>
        </div>
    </div>
    <br>
{% if user_nutrition is not none %}
<script>document.getElementById('edit_custom_foods').style.display="block"</script>
<div id = "masonry-grid" class="py-3 row g-4 justify-content-center" data-masonry='{"percentPosition": true }'>
    {% for item in user_nutrition %}
    <div class="col col-md-4 col-xl-3 col-xxl-2">
        <div class="card card-pop h-100" id="{{ loop.index }}">
            <div class="deleted-overlay">Deleted</div>
            <div class="card-body">
                <div class="header-container">
                    <h5 class="card-title text-center"></h5><b>{{ item['mealname'] }}</b></h5>
                    <button type="button" id = "btn-{{ loop.index}}" class="btn btn-close btn-sm x-custom-food" aria-label="Close" style="display: none;"
                            onclick="confirmDelete(this)" data-cardid="{{ loop.index }}" data-recid="{{ item['recipeid'] }}">
                    </button>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                {% if item['image_url'] %}
                    <li class="list-group-item"><img src="{{ item['image_url'] }}" alt="Meal Image" class = "fitted-image"></li>
                {% endif %}
                {% if item['description'] != '' %}<li class="list-group-item"><strong>Description: </strong>{{ item['description']}}</li>{% endif %}
                <li class="list-group-item"><strong>Serving size:</strong> {{ item['servingsize']}}</li>
                <li class="list-group-item"><strong>Calories:</strong> {{ item['calories']}}</li>
                <li class="list-group-item"><strong>Proteins:</strong> {{ item['proteins']}}g</li>
                <li class="list-group-item"><strong>Carbs:</strong> {{ item['carbs'] }}g</li>
                <li class="list-group-item"><strong>Fats:</strong> {{ item['fats'] }}g</li>
              </ul>
            <div class="card-footer">
                <small class="text-body-secondary">Created on {{ custom_strftime_est(item['date']) }}</small>
            </div>
        </div>
    </div>
    {% endfor %}
   
</div>
{% else %}
<div class="mx-auto" style="padding: 15px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <div class="text-center text-muted"><h1>No custom foods found.</h1></div>
</div>
{% endif %}

</div>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<script>
// Function to show SweetAlert confirmation dialog
function confirmDelete(item) {
    const swalWithBootstrapButtons = Swal.mixin({
    customClass: {
        confirmButton: "btn btn-success",
        cancelButton: "btn btn-danger"
    },
    buttonsStyling: false
    });
    swalWithBootstrapButtons.fire({
    title: "Are you sure?",
    text: "If you've logged this food today, it will also be deleted from any entries it is part of. You won't be able to revert this!",
    icon: "warning",
    showCancelButton: true,
    confirmButtonText: "Yes, delete it!",
    cancelButtonText: "No, cancel!",
    reverseButtons: true
    }).then((result) => {
    if (result.isConfirmed) {
        Swal.fire({
            title: 'Deleting...',
            html: 'Please wait while we are deleting your custom food.',
            allowOutsideClick: false,
            showConfirmButton: false,
            willOpen: () => {
                Swal.showLoading();
            }
        });
        deleteCustomFood(item);
    } else if (
        /* Read more about handling dismissals below */
        result.dismiss === Swal.DismissReason.cancel
    ) {
        swalWithBootstrapButtons.fire({
        title: "Cancelled",
        text: "Your custom food is safe :)",
        icon: "error"
        });
    }
    });
}
function deleteCustomFood(item) {
    var recid = item.dataset.recid;
    console.log(recid);
    var cardid = item.dataset.cardid;
    console.log(cardid);
    var btnid = "btn-" + cardid
    console.log(btnid);
    let card = document.getElementById(cardid);
    let overlay = card.querySelector('.deleted-overlay');
    let button = document.getElementById(btnid)
    $(button).remove()
    overlay.style.display = 'flex'; 
    handleDelete(recid)
}
function handleDelete(recid) {
    var dataToSend = {
        deletedFood: recid
    };
    var jsonData = JSON.stringify(dataToSend);

    $.ajax({
        type: "POST",
        url: "/customfoods",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrf_token() }}"
        },
        data: jsonData,
        success: function (response) {
            if (response.success && response.redirect) {
                Swal.close();
                window.location.href = response.redirect;
            }
        },
        error: function (xhr, status, error) {
            Swal.close();
            swalWithBootstrapButtons.fire({
                title: "Error!",
                text: "There was a problem deleting your custom food. Please try again later.",
                icon: "error"
            });
            console.error("Error in data submission:", xhr.status, xhr.responseText);
        },
    });
}
$(document).ready(function(){
    $('#edit_custom_foods').click(function() {
        console.log("edit clicked")
        $('#edit_custom_foods').css('display', 'none')
        $('#add_food_btn').css('display', 'none');
        $('#stop_editing').css('display', 'block')
        $('.x-custom-food').each(function() {
            $(this).css('display', 'block');
        });
    });
    $('#stop_editing').click(function() {
        $('#stop_editing').css('display', 'none')
        $('#add_food_btn').css('display', 'block');
        $('#edit_custom_foods').css('display', 'block')
        $('.x-custom-food').each(function() {
            $(this).css('display', 'none');
        });
    });
    // Initialize Masonry after all images have loaded
    $('#masonry-grid').imagesLoaded(function(){
        $('#masonry-grid').masonry({
            // Masonry options
            itemSelector: '.col',
            percentPosition: true
        });
    });
});


</script>
{% endblock %}
