{% extends "layout.html" %}
{% set current_page = 'editingplate' %}
{% block title %}My Homepage{% endblock %}
{% block content %}
    <h1 class="text-center m-3">Editing My Plate</h1> 
    <h3 class="text-center m-3 text-muted">Good {{ampm}}, {{netid}}.</h3>

    <!--Layout for the two main cards-->
    <div class="row p-5">
        <div class="col-sm-9 mx-auto">
          <div class="card">
            <div class="card-body">

                <!--My Plate (right card)-->
                <h4 class="text-center py-3">My Plate</h4>

                <!--Create a card for each entry-->
                <div class="col">
                    {% for entry, foods in entries_food_dict.items() %}
                    <div class="row-cols-1 p-2">
                        <div class="entryCard card border-primary" id="entry-{{ entry }}" style="padding: 10px;">
                            <div class="card-body">
                                <div class="header-container">
                                    <h5 class="card-title py-1">Entry {{ entry }}</h5>
                                    <button type="submit" data-entrynum="{{ entry }}" class="entryCloseBtn btn-close" aria-label="Close"></button>
                                </div>

                                <!--Create a bordered element for each food in the entry-->
                                <ul class="list-group">
                                    {% for food in foods %}
                                    <!--Border with close buttons for each food-->
                                    <div class="foodCard card border-primary p-2 mb-3" id="{{ entry }}-{{ loop.index }}">
                                        <div class="row">
                                            <div class="col">
                                                <!-- Food name label-->
                                                <span>{{ food }}</span>
                                            </div>
                                            <div class="col-auto d-flex align-items-center">
                                                <!-- Serving Lineedit Column and Close button -->
                                                <div data-foodnum="{{ loop.index }}" data-entrynum="{{ entry }}" class="d-flex align-items-center">
                                                    <!-- Serving Lineedit -->
                                                    <input type="number" min="0" class="form-control small-input mr-2"
                                                    placeholder="Servings" oninput="handleServingChange(this)" required
                                                    data-foodnum="{{ loop.index }}" data-entrynum="{{ entry }}"
                                                    onkeypress="return isValid(event)">
                                    
                                                    <!-- Close button -->
                                                    <button type="button" data-foodnum="{{ loop.index }}" data-entrynum="{{ entry }}" class="foodCloseBtn btn btn-close btn-sm" aria-label="Close">
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </ul>

                            </div>                             
                        </div>
                    </div>

                {% endfor %}

                <!--Save plate button-->
                <div class="py-3">
                    <form>
                        <button id="savePlate" type="submit" class="btn btn-secondary btn-lg btn-block">Save Plate</button>
                    </form>
                </div>
                
            </td>

        </tr>
    </table>

    <script>

        // List of deleted entries' indices
        let deletedEntries = [];
        // List of lists of deleted foods & their entries
        let deletedFoods = [];
        let servingsChanged = {};

        function appendEntrytoDelete(entryIndex) {
            console.log("entry " + entryIndex + " will be deleted")
            deletedEntries.push(entryIndex);
        }

        function appendFoodtoDelete(entryIndex, foodIndex) {
            console.log("will delete food " + foodIndex + " from entry " + entryIndex);
            deletedFoods.push({index: entryIndex, foods: [foodIndex]});
        }

        // once an entry has been appended to be deleted, hide it from view
        function hideEntry(entryId) {
            document.getElementById(entryId).style.display = "none";
        }

        // once an entry has been appended to be deleted, hide it from view
        function hideFood(foodCardId) {
            document.getElementById(foodCardId).style.display = "none";
        }

        // Serving input validation function
        function isValid(input) {
            var charCode = input.which || input.keyCode;
            var value = input.target.value;
        
            // If the pressed key is a '-'
            if (input.charCode === 45)
                return false;
        
            // If the key contains nonvalid chars 
            if ((input.charCode < 48 || input.charCode > 57) && input.charCode !== 46)
                return false;
        
            // Allow only 2 decimal places
            if (value.indexOf('.') !== -1 && value.length - value.indexOf('.') > 2)
                return false;
        
            return true;
        }
        function handleServingChange(input) {
            let serving = parseFloat(input.value);
            let entry_food_num = input.dataset.entrynum + "-" + input.dataset.foodnum
            console.log(entry_food_num, serving)
            servingsChanged[entry_food_num] = serving
        };


        // select all Entry cards and add close button event listeners for each
        var entryCards = document.querySelectorAll('.entryCard');
        entryCards.forEach(function(card) {
            //add event listener to each food close button
            var foodCloseButtons = card.querySelectorAll('.foodCloseBtn');
            foodCloseButtons.forEach(function(button) {
                button.addEventListener('click', function(event) {
                    event.preventDefault();
                    console.log("delete food button clicked");

                    var foodnum = button.dataset.foodnum;
                    var entrynum = button.dataset.entrynum;

                    console.log("foodnum is ", foodnum);

                    // append 0-indexed indices for deleted food
                    appendFoodtoDelete(parseInt(entrynum)-1, parseInt(foodnum) - 1);
                    hideFood(entrynum + "-" + foodnum);
                })
            });

            // add event listener to each entry close button
            var entryCloseButtons = card.querySelectorAll('.entryCloseBtn');
            entryCloseButtons.forEach(function(button) {
                button.addEventListener('click', function(event) {
                    event.preventDefault();
                    console.log("Del entry button clicked");

                    var entrynum = button.dataset.entrynum
                    var entryId = "entry-" + entrynum
                    // append to list and hide from view
                    console.log("Printing entryid", entryId)
                    appendEntrytoDelete(parseInt(entrynum) - 1);
                    hideEntry(entryId); 
                });
            });
        });
        
        // once submit button is clicked, send everything to be deleted as an AJAX call
        document.getElementById('savePlate').addEventListener('click', function(event) {
            event.preventDefault();
	        console.log("save plate button clicked");
            console.log(deletedEntries)
            var dataToSend = {
                entriesToDelete: deletedEntries,
                foodsToDelete: deletedFoods,
                servingsToChange: servingsChanged
            };
            var jsonData = JSON.stringify(dataToSend);
            // showLoadingAnimation();
            $.ajax({
                type: "POST",
                url: "/editingplate",
                contentType: "application/json",
                data: jsonData,
                success: function (response) {
                    console.log("Data sent successfully:", response);
                    // Check if the server response includes the redirect URL
                    if (response.success && response.redirect) {
                        // Hide the loading animation before redirection
                        window.location.href = response.redirect;
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error in data submission:", xhr.status, xhr.responseText);
                },
            });
        });
    </script>
{% endblock %}