<!--==============================================================-->
<!-- firstcontact.html                                                   -->
<!--==============================================================-->

<!DOCTYPE html>

<html lang="en">
    
<head>
    <meta charset="utf-8">
    <title>Nutrition Goals</title>
    {% include 'bootstrap.html' %}
</head>

<body class="text-center">
    {% include 'navbar.html' %}
    <h1 class="m-3">Nutrition Goals</h1> 
    <div>
        <h2 class="m-3">Welcome to NutriTiger! Please fill out your daily calorie goal.</h2>

        <form action="/welcome" method="post" class="m-3">
            Set Calorie Goal:
            <input type="number" name="line" placeholder="Enter the number here" min="0" required><br>
            <button type="submit">Save</button>
        </form>
    </div>

    <p class="m-3">
        Don't know your calorie goal? click <strong>here</strong> to see your 
        _______ recommended caloric intake based on your goals. 
    </p>

</body>
</html>