{% extends "layout.html" %}
{% set current_page = 'firstcontact' %}
{% block title %}Nutrition Goals{% endblock %}
{% block content %}
    <div class="row p-5">
        <div class="'col-sm-9">
            <div class="card">
                <div class="card-body text-center">
                  
                    <div class="container-fluid mx-auto p-5">
                        <h1 class="m-5">Nutrition Goals</h1> 
                        <h3 class="m-3 p-4">Welcome to NutriTiger! Please fill out your daily calorie goal.</h3>

                        {% include 'caloriecalculator.html' %}
                
                        <div class="text-center p-4">
                            <div class="row">
                                <h4>Calorie Goal:</h4>
                                <form action="/welcome" method="post">
                                    <input id="firstCalorieInput" type="number" class="form-control form-calgoal container"
                                    name='line' placeholder="Enter the number here." min="1" max="100000"
                                    onkeypress="return isValid(event)" required autofocus>
                                    <div class="p-3">
                                        <button id="firstCalorieButton" class="btn btn-primary btn-lg btn-block"
                                        type="submit" onclick="closeForm()">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
                
              </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script>

    // Validate the serving inputs
    function isValid(input) {
        var charCode = input.which || input.keyCode;
        var value = input.target.value;

        // If the pressed key is a '-'
        if (input.charCode === 45)
            return false;

        // If the key contains nonvalid chars 
        if (input.charCode < 48 || input.charCode > 57)
            return false;

        return true;
    }

    // When the user submits the form and all fields are valid, lock it
    function closeForm() {
        // Obtain form elements
        var validFormElements = document.querySelector(":valid")
        var calorieInput = validFormElements.querySelector("input")
        var settingsButton = validFormElements.querySelector("button")

        // Check if the input was validated
        if (calorieInput != null) {
            // Remove any leading zeros
            var currentNumber = calorieInput.value
            calorieInput.value = currentNumber.replace(/^0+/, '')

            // Disable the button but have it submit the form
            calorieInput.readOnly = true
            settingsButton.style.pointerEvents = "none"
            settingsButton.textContent = "Submitting..."
            settingsButton.style.opacity = "var(--bs-btn-disabled-opacity)"
        }
    }

    // If the user hits the back button reset the form
    window.onunload = function() {
        var calorieInput = document.getElementById("firstCalorieInput")
        var settingsButton = document.getElementById("firstCalorieButton")

        calorieInput.readOnly = false
        settingsButton.style.pointerEvents = "auto"
        settingsButton.textContent = "Save"
        settingsButton.style.opacity = "none"
    }
</script>
{% endblock %}