<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Line Chart Example</title>
    <!-- Include Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        canvas {
            width: 95%;
            height: auto;
            max-height: 55vh;
        }
    </style>
</head>

<body>
    <!-- HTML canvas element where the chart will be rendered -->
    <canvas id="myLineChart"></canvas>

    <script>
        var cals = {{ cals | tojson | safe}};
        var prots = {{ prots | tojson | safe}};
        var carbs = {{ cals | tojson | safe}};
        var fats = {{ prots | tojson | safe}};
        var dates = {{ dates | tojson | safe}};

        // Sample data for the line chart
        var data = {
            labels: dates,
            datasets: [{
                label: 'Calories', // Label for the dataset
                data: cals,
                borderColor: 'rgba(173, 216, 230)', // Line color
                backgroundColor: 'rgba(173, 216, 230, 0.5)',
                borderWidth: 2, // Line width
                fill: true // Fill area under the line
            },
            {
                label: 'Proteins', // Label for the dataset
                data: prots,
                borderColor: 'rgba(255, 99, 132)', // Line color (red)
                backgroundColor: 'rgba(255, 99, 132, 0.5)',
                borderWidth: 2, // Line width
                fill: true // Fill area under the line
            },
            {
                label: 'Carbs', // Label for the dataset
                data: carbs,
                borderColor: 'rgba(75, 192, 192)', // Line color (green)
                backgroundColor: 'rgba(75, 192, 192, 0.5)',
                borderWidth: 2, // Line width
                fill: true // Fill area under the line
            },
            {
                label: 'Fats', // Label for the dataset
                data: fats,
                borderColor: 'rgba(255, 205, 86)', // Line color (yellow)
                backgroundColor: 'rgba(255, 205, 86, 0.5)',
                borderWidth: 2, // Line width
                fill: true // Fill area under the line
            }]
        };

        // Get the canvas element
        var ctx = document.getElementById('myLineChart').getContext('2d');

        // Create the line chart
        var myLineChart = new Chart(ctx, {
            type: 'line', // could change to chart
            data: data,
            options: {
                scales: {
                    y: {
                        beginAtZero: true // Start y-axis from 0
                    }
                }
            }
        });
    </script>

</body>
</html>
