<!-- Include Chart.js library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="../static/css/styles.css">
<style>
    .hist-canvas {
    height: 600px; /* Adjust the height as needed */
    width: auto; /* Ensure width adjusts automatically */
    }
</style>
<div class="histChart-container pb-3">
    <!-- Calorie Chart -->
    <canvas id="calHistoryChart" class="hist-canvas"></canvas>
    <!-- Macros Chart -->
    <canvas id="macroHistoryChart" class="hist-canvas"></canvas>
</div>
<script>
    var cals = {{ cals | tojson | safe}};
    var prots = {{ prots | tojson | safe}};
    var carbs = {{ carbs | tojson | safe}};
    var fats = {{ fats | tojson | safe}};
    var dates = {{ dates | tojson | safe}};
    
    var style = getComputedStyle(document.body);

    var data1 = {
        labels: dates,
        datasets: [{
            label: 'Calories',
            data: cals,
            borderColor: style.getPropertyValue('--blue'), // Fetching color from CSS
            backgroundColor: style.getPropertyValue('--blue-transparent'), // Fetching color from CSS
            borderWidth: 2,
            fill: true
        }]
    };

    var data2 = {
        labels: dates,
        datasets: [{
            label: 'Proteins',
            data: prots,
            borderColor: style.getPropertyValue('--pink'), // Fetching color from CSS
            backgroundColor: style.getPropertyValue('--pink-transparent'), // Fetching color from CSS
            borderWidth: 2,
            fill: true 
        },
        {
            label: 'Carbs', 
            data: carbs,
            borderColor: style.getPropertyValue('--green'), // Fetching color from CSS
            backgroundColor: style.getPropertyValue('--green-transparent'), // Fetching color from CSS
            borderWidth: 2, 
            fill: true 
        },
        {
            label: 'Fats', 
            data: fats,
            borderColor: style.getPropertyValue('--purple'), // Fetching color from CSS
            backgroundColor: style.getPropertyValue('--purple-transparent'), // Fetching color from CSS
            borderWidth: 2, 
            fill: true
        }]
    };
    
    // Options object if you want to use the same options for both charts
    var options = {
        scales: {
            y: {
                beginAtZero: true
            }
        },
        responsive: true,
        maintainAspectRatio: false
    };
    
    // Initialize the first chart
    var ctx1 = document.getElementById('calHistoryChart').getContext('2d');
    var myLineChart1 = new Chart(ctx1, {
        type: 'line',
        data: data1,
        options: options
    });
    
    // Initialize the second chart
    var ctx2 = document.getElementById('macroHistoryChart').getContext('2d');
    var myLineChart2 = new Chart(ctx2, {
        type: 'line',
        data: data2,
        options: options
    });
</script>