{% extends "layout.html" %}
{% set current_page = 'history' %}
{% block title %}My History{% endblock %}
{% block content %}
<h1 class="text-center pt-2">My History</h1>
<h5 class="text-center">Select a date range from the dropdown to see your logged history for that period. </h5>
<div class = "container-fluid">
<div class="row pt-2 px-2 justify-content-center">
    <div class="col-sm-3 m-3">
        <select class="btn btn-secondary dropdown-toggle form-select" id = "historyRangeSelect">
            <option value="7" selected>Past 1 week</option>
            <option value="14">Past 2 weeks</option>
            <option value="31">Past month</option>
            <option value="93">Past 3 months</option>
        </select>
    </div>
</div>
<!--Four cards (for each average)-->
<div class="row p-5">
    <div class="col-sm-3 py-2">
        <div class="card avg-cals">
            <div class="card-body text-center">
                <h5 class="card-title">Avg. Calories/Day</h5>
                <p>{{ avg_cals }}cal</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 py-2">
        <div class="card avg-prots">
            <div class="card-body text-center">
                <h5 class="card-title">Avg. Protein</h5>
                <p>{{ avg_pro }}g</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 py-2">
        <div class="card avg-carbs">
            <div class="card-body text-center">
                <h5 class="card-title">Avg. Carbs</h5>
                <p>{{ avg_carbs }}g</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 py-2">
        <div class="card avg-fats">
            <div class="card-body text-center">
                <h5 class="card-title">Avg. Fat</h5>
                <p>{{ avg_fat }}g</p>
            </div>
        </div>
    </div>
</div>
    {% include 'historygraph.html' %}
</div>
{% endblock %}
{% block script %}
<script>
    function getHistory() {
      let selectedRange = $('#historyRangeSelect').val();
      console.log(selectedRange)
    
      // send in selectedRange to Flask (# of days user selected)
      $.ajax({
        url: '/history-data',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({ selectedRange: selectedRange }),
        success: function(response) {
          console.log('Data sent successfully:', response);
        },
        error: function(xhr, status, error) {
          console.error('Error sending data:', error);
        }
      });
    
     }
    
    function setup() {
      const historyRangeSelect = document.getElementById('historyRangeSelect');
      historyRangeSelect.addEventListener('change', getHistory);
    }
    
    $(document).ready(setup);
</script>
{% endblock %}