{% extends "layout.html" %}
{% set current_page = 'history' %}
{% block title %}My History{% endblock %}
{% block content %}
<h1 class="text-center pt-2">My History</h1>
<h5 class="text-center px-2">Select a date range from the dropdown to see your logged history for that period. </h5>
<div class = "container-fluid">
<div class="row pt-2 px-2 justify-content-center">
    <div class="col-6 col-sm-3 m-3">
        <select class="select-dropdown btn btn-secondary dropdown-toggle form-select" id = "historyRangeSelect">
            <option value="7" selected>Past 1 week</option>
            <option value="14">Past 2 weeks</option>
            <option value="31">Past month</option>
            <option value="93">Past 3 months</option>
        </select>
    </div>
</div>
<div id = "history-content">
    {% include "history_content.html" %}
</div>
{% endblock %}
{% block script %}
<script>
    function handleResponse(data) {
        $("#history-content").html(data);
    }
    function getHistory() {
      let selectedRange = $('#historyRangeSelect').val();
    
      // send in selectedRange to Flask (# of days user selected)
      $.ajax({
        url: '/history',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({ "selectedRange": selectedRange }),
        success: handleResponse,
        error: function(xhr, status, error) {
          console.error('Error sending data:', error);
        }
      });
    
     }
    
    function setup() {
      const historyRangeSelect = document.getElementById('historyRangeSelect');
      historyRangeSelect.addEventListener('change', getHistory);
    }
    
    $(document).ready(setup);
</script>
{% endblock %}