<!--==============================================================-->
<!-- history.html                                                   -->
<!--==============================================================-->

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>My History</title>
    {% include 'bootstrap.html' %}
</head>

<body>
    {% include 'navbar.html' %}
    <h1>My History</h1> 
    
    <div style="display: flex; width: 100%;">
        <div style="flex: 1 1 25%; height: 100px; background-color: #a8a7a7; margin-right: 10px;">
        <h3>Avg. Calories Per Day</h3>
        <p>{{avg_cals}}</p>
        </div>
        <div style="flex: 1 1 20%; height: 100px; background-color: #a8a7a7; margin-right: 10px;">
        <h3>Avg. Protein</h3>
        <p>{{avg_pro}}</p>
        </div>
        <div style="flex: 1 1 20%; height: 100px; background-color: #a8a7a7; margin-right: 10px;">
        <h3>Avg. Carbs</h3>
        <p>{{avg_carbs}}</p>
        </div>
        <div style="flex: 1 1 20%; height: 100px; background-color: #a8a7a7;">
        <h3>Avg. Fat</h3>
        <p>{{avg_fat}}</p>
        </div>
    </div>
    
    <p>Graph goes here.</p>
</body>
</html>