<!--==============================================================-->
<!-- homepage.html                                                   -->
<!--==============================================================-->

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>My Homepage</title>
    {% include 'bootstrap.html' %}
</head>

<body>
    {% include 'navbar.html' %}    
    {% set current_page = 'home' %}

    <h1 class="text-center">Today's Breakdown</h1> 
    <h2 class="text-center">Good {{ampm}}, {{netid}}.</h2>
        
    <table width="100%">
        <tr>
            <td width = 50% style="border: 1px solid black; vertical-align: top;">
                <h2 class="text-center">My Macros</h2>
                <div style="background-color: lightblue; padding: 10px; margin: 20px">
                    <h3>{{curr_caltotal}}cal / {{cal_goal}}cal</h3>
                </div>
                <p>Pie chart will go here.</p>
                <div style="width: 400px; height: 400px;">
                    <!-- Adjust dimensions to fit your design -->
                    {% include 'piechart.html' %}
                </div>
            <td width="50%" style="border: 1px solid black; vertical-align: top;">
                <h2 class="text-center">My Plate</h2>
                <div>
                    {% for entry, foods in entries_food_dict.items() %}
                    <div style="background-color: lightgray; padding: 10px; margin: 20px;">
                        <h3>{{entry}}</h3>
                        <ul>
                            {% for food in foods %}
                            <li>{{food}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            
                <form action="/homepage" method="post">
                    <button type="submit" name="edit_plate">Edit My Plate</button>
                </form>
            </td>

        </tr>
    </table>
        
</body>
</html>