{% extends "layout.html" %}
{% set current_page = 'home' %}
{% block title %}My Homepage{% endblock %}
{% block content %}

<!--Page Headers-->
<h1 class="text-center m-3">Today's Nutritional Breakdown</h1>
<h3 class="text-center m-3 text-muted">Good {{ampm}}, {{netid}}. Today is {{ date }}.</h3>

<!--Placeholder Message (when no entries exist)-->
<div id="placeholder" class="text-center">
	<h4>Looks like you haven't logged any food for today.</h4>
	<h4 class="pt-2">Want to add a meal?</h4>
	<!--"Click to add an entry" Button-->
	<div class="p-3">
		<form action="/homepage" method="post">
			<center>
				<button type="submit" name="add_entry" class="btn btn-primary btn-lg btn-block">+ Click to log a meal</button>
			</center>
		</form>
	</div>
	<h5>Or, see what's on the <a href="/menus"> dining hall menus</a>.</h5>
</div>

<!--CHECK IF ENTRIES ARE EMPTY, SHOW PLACEHOLDER IF SO-->
<!--This must be updated with ajax implementation!!-->
{% if entries_food_dict.items()|length == 0 %}
	<!-- Show placeholder function -->
	<script>
		showPlaceholder();
	</script>
{% else %}
	<!--Show homepage cards function-->
	<script>
		showHomepageCards();
	</script>

<!--Layout for the two main cards-->
<div class="container-fluid">
<div class="row p-xs-5 gx-5 mx-auto">
	<div class="col-md-6 pt-4">
		<div id="leftCard" class="card homepage-card">
			<div class="card-body">
				<!--My Macros (left card)-->
				<h4 class="text-center py-3">My Macros</h4>
				<h5 class="text-center">Current Calorie Progress: <strong>{{curr_caltotal}} cal / {{cal_goal}} cal</strong></h5>
				<div class="prog-container my-2" style="display: flex; justify-content: center;">
					<div class="progress" style="height: 50px; width: 300px;">
						<div class="progress-bar dynamic-progress-bar" 
							role="progressbar" 
							style="width: {{ (curr_caltotal / cal_goal) * 100 }}%; background-color: rgb(66, 142, 223);" 
							aria-valuenow="{{curr_caltotal}}" 
							aria-valuemin="0" 
							aria-valuemax="{{cal_goal}}">{{ curr_caltotal }} cal
						</div>
					</div>
				</div>
				<div class="prog-container my-5" style="display: flex; justify-content: center;">
					<div style="width: 400px; height: 400px; display: flex; justify-content: center;">
						{% include 'piechart.html' %}
					</div>
				</div>
				<div id="chartSubtitle" class="text-center text-muted">
					Clicking on elements in the legend will hide it from the pie chart.
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 py-4">
		<div id="rightCard" class="card homepage-card">
			<div class="card-body">
				<!--My Plate (right card)-->
				<h4 class="text-center py-3">My Plate</h4>
				<!-- Edit my plate button -->
        <!-- Copy of bottom button for mobile compatibility -->
				<div class="py-3 position-absolute top-0 end-0 mt-3 me-3 d-none d-lg-block">
					<form action="/homepage" method="post">
						<button type="submit" name="edit_plate" class="btn btn-primary btn-lg btn-block">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
								<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
							</svg>
							Edit Plate
						</button>
					</form>
				</div>
				<!--Create a card for each entry-->
				<div class="col">
					{% for entry, data in entries_food_dict.items() %}
					{% set foods = data.foods %}
					{% set nutrition_totals = data.nutrition_totals %}
					{% set servings = data.servings %}
					<div class="row-cols-1 p-2">
						<div class="card" style="background-color: lightgray;">
							<div class="card-body">
								<h5 class="card-title">{{entry}}</h5>
		
								<ul>
									{% for food in foods %}
									<li>{{food}}</li>
									<span class="text-muted">Servings: {{ servings[loop.index - 1] }}</span>
									{% endfor %}
								</ul>
								
								<hr>
								<!--Labels for nutrient stats across the top of an entry -->
								<div class="d-flex align-items-center py-0">
									<strong>Entry Totals:</strong>
								<div class="p-2">
									<span class="badge badge-info" style="background-color: rgb(55, 127, 228);">{{ '%.2f'|format(nutrition_totals.calories) }} Calories</span>
									<span class="badge badge-info" style="background-color: rgb(255, 107, 130);">{{ '%.2f'|format(nutrition_totals.proteins) }}g Protein</span>
									<span class="badge badge-info" style="background-color: rgb(49, 165, 74);">{{ '%.2f'|format(nutrition_totals.carbs) }}g Carbs</span>
									<span class="badge badge-info" style="background-color: rgb(218, 184, 17);">{{ '%.2f'|format(nutrition_totals.fats) }}g Fat</span>
								</div>
								</div>

							</div>
						</div>
					</div>
					{% endfor %}
				</div>
        <!-- Copy of top button for mobile compatibility -->
        <div class="text-center d-block d-sm-block d-md-block d-lg-none">
					<form action="/homepage" method="post">
						<button type="submit" name="edit_plate" class="btn btn-primary btn-lg btn-block">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
								<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
							</svg>
							Edit Plate
						</button>
					</form>
				</div>
				
				<!--"Click to add an entry"-->
                <div class="p-3">
                    <form action="/homepage" method="post">
                        <center>
                            <button type="submit" name="add_entry" class="btn btn-primary btn-lg btn-block">+ Click to add an Entry</button>
                        </center>
                    </form>
                </div>
				
			</div>
		</div>
	</div>
</div>
</div>
{% endif %}

<script>
	function showHomepageCards() {
		// Hide the placeholder message/buttons
		document.getElementById("placeholder").style.display = "none";

		// Show the homepage cards 
		document.getElementById("leftCard").style.display = "block";
		document.getElementById("rightCard").style.display = "block";
	}

	function showPlaceholder() {
		console.log("showing placeholder")
		// Show the placeholder message/buttons
		document.getElementById("placeholder").style.display = "block"
		// Hide the homepage cards
		document.getElementById("leftCard").style.display = "none";
		document.getElementById("rightCard").style.display = "none"
	}

	// if (entries exist) {
		// showHomepageCards();
	// } else {
		// showPlaceholder();
	//}
	window.onload = function() {
		showHomepageCards();
	}

</script>
{% endblock %}