<!--==============================================================-->
<!-- index.html                                                   -->
<!--==============================================================-->

<!DOCTYPE html>

<html>
<head>
    <title>Login to NutriTiger</title>
</head>

<body>
    <div class="container">
        <img src="logo.jpg" alt="NutriTiger Logo">
        <h1>NutriTiger</h1> 
        <div>
            <p>
            Your go-to for easy access to nutritional information for 
            Princeton's dining halls. Streamline your health journey 
            with simple tracking and informed choices.
            </p>
        </div>
    </div>

    <button onclick="window.location.href = 'path/to/another/file.html';">
        Login with NetID</button>
        
</body>
</html>