<!--==============================================================-->
<!-- index.html                                                   -->
<!--==============================================================-->

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Login to NutriTiger</title>
</head>

<body>
        <img src="logo.jpg" alt="NutriTiger Logo">
        <h1>NutriTiger</h1> 
        <p>
        Your go-to for easy access to nutritional information for 
        Princeton's dining halls. Streamline your health journey 
        with simple tracking and informed choices.
        </p>

    <button onclick="window.location.href = 'path/to/another/file.html';">
        Login with NetID</button>
        
</body>
</html>