<div id="loading-animation" class="loading-animation">
    <div class="loading-spinner"></div>
</div>

<script>
function showLoadingAnimation() {
    // Show the loading animation covering the entire screen
    $("#loading-animation").show();
    $('input').keydown(function(e) {
        e.preventDefault();
        return false;
    });

    $('.introjs-nextbutton').keydown(function(e) {
        e.preventDefault();
        return false;
    });
}

function hideLoadingAnimation() {
    // Hide the loading animation
    $("#loading-animation").hide();
    $('input').off('keydown');
}
</script>