<!--==============================================================-->
<!-- about.html                                                   -->
<!--==============================================================-->

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Log Food</title>
    {% include 'bootstrap.html' %}
</head>

<body>
    {% include 'navbar.html' %}
    {% set current_page = 'logfood' %}

    <h1>Log Food</h1> 
    <p>
        Select your dining hall from the drop down below or search for the recipe name in the 
        search bar. Once you select your dish(es), estimate the number of servings you consumed 
        in the “My Plate” window below. 
    </p>
              
    <table width="100%">
        <tr>
            <td width = 60% style="border: 1px solid black; vertical-align: top;">
                
            </td>
            <td width="40%" style="border: 1px solid black; vertical-align: top;">
                <h2>My Plate</h2>

            </td>

        </tr>
    </table>

    <h3>Done adding food to your plate?</h3>
    <button onclick="window.location.href = 'homepage.html';">
       Upload Plate and Return</button>

</body>
</html>