<!--==============================================================-->
<!-- about.html                                                   -->
<!--==============================================================-->

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Log Food</title>
    {% include 'bootstrap.html' %}
</head>

<body>
    {% include 'navbar.html' %}
    {% set current_page = 'logfood' %}

    <h1 class="text-center">Log Food</h1> 
    <p class="text-center">
        Select your dining hall from the drop down below or search for the recipe name in the 
        search bar. Once you select your dish(es), estimate the number of servings you consumed 
        in the “My Plate” window below. 
    </p>
    
    <!-- Select buttons: Dining Hall, Mealtime -->
    <div class="row">
        <div class="col-sm-3">
            <select class="form-select form-select-sm" aria-label="select_dhall" style="background-color: rgb(250, 160, 58);">
                <option selected>Select Dining Hall</option>
                <option value="1">Rockefeller & Mathey Colleges</option>
                <option value="2">Forbes College</option>
                <option value="3">Graduate College</option>
                <option value="3">Center for Jewish Life</option>
                <option value="3">Yeh & New West Colleges</option>
                <option value="3">Whitman & Butler Colleges</option>
            </select>
        </div>

        <div class="col-sm-3">
            <select class="form-select form-select-sm" aria-label="select_mealtime" style="background-color: rgb(250, 160, 58);">
                <option selected>Select Mealtime</option>
                <option value="1">Breakfast</option>
                <option value="2">Lunch</option>
                <option value="3">Dinner</option>
                <option value="3">Brunch</option>
            </select>
        </div>
    </div>

    <!--Two cards: one for the food list, and one for My Plate-->
    <div class="row">
        <div class="col-sm-7">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Insert Dining Hall Name</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">My Plate</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
      </div>

    <h3>Done adding food to your plate?</h3>

    <form action="/logfood" method="post">
        <button type="submit" name="upload_plate">Upload Plate and Return</button>
    </form>

</body>
</html>