<!--==============================================================-->
<!-- logfood_update.html                                          -->
<!--==============================================================-->
<div class="card-body" id="menu-items" style="display: none;">
    {% set ns = namespace(c = 0) %}
    {% for item in data %}
        {% set ooo_loop = loop %}
        <div class = "menu-items-content" style="display: none;" id="{{ item.dhall[:2] }}-{{ item.mealtime }}">
        {% for category, foods in item.data.items() %}
            {% set oo_loop = loop %}
                {% for food, code in foods.items() %}
                    {% if nutrition_info[ns.c]['calories'] != "" %}
                        <div class="form-check">
                            {% set checkbox_id = ooo_loop.index ~ '-' ~ oo_loop.index ~ '-' ~ loop.index %}
                            <input type="checkbox" style="border: 1px solid black;" class="form-check-input" id="checkbox-{{ checkbox_id }}" 
                                data-usda="false"
                                data-recid="{{ code }}" data-location="{{ item.dhall }}" data-mealtime="{{ item.mealtime }}"
                                data-mealname="{{ food }}"
                                data-servingsize="{{ nutrition_info[ns.c]['servingsize'] }}"
                                data-cals="{{ nutrition_info[ns.c]['calories'] }}"
                                data-carbs="{{ nutrition_info[ns.c]['carbs'] }}"
                                data-prots="{{ nutrition_info[ns.c]['proteins'] }}"
                                data-fats="{{ nutrition_info[ns.c]['fats'] }}"
                                onchange="handleCheckboxChange(this)"
                                onkeypress="changeCheckbox(this)">
                            <label class="form-check-label" for="checkbox-{{ checkbox_id }}">{{ food }}</label>
                            <p id="nf-{{ checkbox_id }}">Serving Size: {{ nutrition_info[ns.c]['servingsize'] }} Calories: {{ nutrition_info[ns.c]['calories'] }} Proteins: {{ nutrition_info[ns.c]['proteins'] }}g Carbs: {{ nutrition_info[ns.c]['carbs'] }}g Fats: {{ nutrition_info[ns.c]['fats'] }}g</p>
                        </div>
                    {% endif %}
                    {% set ns.c = ns.c + 1 %}
                {% endfor %}
        {% endfor %}
        </div>
    {% endfor %}
    <p id="select" class="text-center">Please select a dining hall from the dropdown menu.</p>
    <p id="noDataMessage" class="text-center" style="display: none;">No data available for this source.</p>
</div>


<div class="card-body" id="personal-food-items" style="display: none;">
    {% if personal_data %}
        {% set ns = namespace(c = 0) %}
        {% for item in personal_data %}

            <div class = "personal-items-content">
                <div class="form-check">
                    {% set checkbox_id = item.access ~ '-' ~ item.recipeid %}
                    <input type="checkbox" style="border: 1px solid black;" class="form-check-input" id="checkbox-{{ checkbox_id }}" 
                        data-usda="false"
                        data-recid="{{ item.recipeid }}" data-location="Custom Food" data-mealtime="N/A"
                        data-mealname="{{ item.mealname }}"
                        data-servingsize="{{ item.servingsize }}"
                        data-cals="{{ item.calories }}"
                        data-carbs="{{ item.carbs }}"
                        data-prots="{{ item.proteins }}"
                        data-fats="{{ item.fats }}"
                        onchange="handleCheckboxChange(this)"
                        onkeypress="changeCheckbox(this)">
                    <label class="form-check-label" for="checkbox-{{ checkbox_id }}">{{ item.mealname }}</label>
                    <p id="nf-{{ checkbox_id }}">Serving Size: {{ item.servingsize }} Calories: {{ item.calories }} Proteins: {{ item.proteins }}g Carbs: {{ item.carbs }}g Fats: {{ item.fats }}g</p>
                </div>

            </div>
            {% set ns.c = ns.c + 1 %}
        {% endfor %}
    {% endif %}
    {% if not personal_data %}
        <p id="noDataPersonalMessage" class="text-center">You have not added any Custom Foods yet.</p>
    {% endif %}

</div>

<div class="card-body" id="tutorial-food-items" style="display: none;">
    <div class = "tutorial-items-content">
        <div class="form-check">
            <input type="checkbox" style="border: 1px solid black;" class="form-check-input" id="checkbox-tutorial-1" 
                data-usda="false"
                data-recid="tutorial-1" data-location="Custom Food" data-mealtime="N/A"
                data-mealname="Example Food"
                data-servingsize="1"
                data-cals="630"
                data-carbs="20"
                data-prots="31"
                data-fats="18"
                onchange="handleCheckboxChange(this)"
                onkeypress="changeCheckbox(this)">
            <label class="form-check-label" for="checkbox-tutorial-1">Example Food</label>
            <p id="nf-tutorial-1">Serving Size: 1 Calories: 630 Proteins: 31g Carbs: 20g Fats: 18g</p>
        </div>
    </div>
</div>