<!DOCTYPE html>

<html lang="en">

   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Logout of NutriTiger</title>
      {% include 'bootstrap.html' %}
   </head>

   <body class="text-center">

      <div>
         <h2 class="m-3">You are logged out of Nutritiger.</h2>

       </div>

      <div class="py-3">
         <form action="/homepage" method="post">
           <button type="submit" name="logback" class="btn btn-primary btn-lg btn-block">Log Back In</button>
         </form>
       </div>
   </body>
</html>