<div class="card border-primary p-2 mb-3" id="myplate-{{ uniqueid }}">
    <div class="row">
        <div class="col">
            <span>{{ mealname }}</span>
            <p class="text-muted mb-0"> {{ details }}</p>
        </div>
        <div class="col-auto d-flex align-items-center">
            <div id="new_entry" class="d-flex align-items-center">
                <span class="text-muted" style="font-size: small; margin-right: 5px;">Servings: </span>
                <input type="number" onpaste="return false;" step="any" min="0.01" max="100" 
                class="form-control small-input" 
                data-usda="{{ usda }}" 
                data-cals="{{ cals }}" 
                data-recid="{{ recid }}" 
                data-mealname="{{ mealname }}" 
                data-carbs="{{ carbs }}" 
                data-fats="{{ fats }}" 
                data-prots="{{ prots }}" 
                data-servingsize="{{ servingsize }}" 
                placeholder="Servings" value="1" oninput="handleServingChange(this)" 
                required onkeypress="return isValid(event)">
                <button type="button" id="close-{{ uniqueid }}" class="btn btn-close btn-sm" 
                aria-label="Close" onclick="closeMyPlate(this)" data-checkid="{{ checkid }}" 
                data-myplateid="myplate-{{ uniqueid }}"></button>
            </div>
        </div>
    </div>
</div>