<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="offcanvas offcanvas-start nt-color-menu" tabindex="-1" id="offcanvasNavbar" data-bs-backdrop="false" aria-labelledby="offcanvasNavbarLabel">
     <div class="offcanvas-header nt-color-menu">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">NutriTiger</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
     </div>
     <div class="offcanvas-body nt-color-menu">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
           <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Homepage</a>
           </li>
           <li class="nav-item">
              <a class="nav-link" href="#">Today's Menus</a>
           </li>
           <li class="nav-item">
            <a class="nav-link" href="#">Log Food</a>
           </li>
           <li class="nav-item">
            <a class="nav-link" href="#">My History</a>
           </li>
           <li class="nav-item">
            <a class="nav-link" href="#">Profile Settings</a>
           </li>
           <li class="nav-item">
            <a class="nav-link" href="#">About</a>
           </li>
        </ul>
     </div>
  </div>