<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="offcanvas offcanvas-start nt-color-menu" tabindex="-1" id="offcanvasNavbar" data-bs-backdrop="false" aria-labelledby="offcanvasNavbarLabel">
     <div class="offcanvas-header nt-color-menu">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">NutriTiger</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
     </div>
     <div class="offcanvas-body nt-color-menu">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
         <li class="nav-item">
            <a class="nav-link {% if current_page == 'homepage' %}active{% endif %}" href="/homepage">Homepage</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if current_page == 'menus' %}active{% endif %}" href="{{ url_for('dhall_menus')}}">Dining Hall Menus</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if current_page == 'editingplate' %}active{% endif %}" href="{{ url_for('log_food')}}">Log Meals</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if current_page == 'history' %}active{% endif %}" href="{{ url_for('history')}}">My History</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if current_page == 'personalfood' %}active{% endif %}" href="{{ url_for('personal_nutrition')}}">My Custom Foods</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link {% if current_page == 'settings' %}active{% endif %}" href="{{ url_for('settings')}}">Edit My Calorie Goal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if current_page == 'about' %}active{% endif %}" href="{{ url_for('about')}}">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logoutcas')}}">Logout</a>
        </li>
        
        </ul>
     </div>
  </div>
