<div class = text-center>
    <div class="btn-group align-items-center mx-auto pb-3" role="group" aria-label="Basic radio toggle button group">
        {% if not is_weekend_var: %}
        <input type="radio" value="Breakfast" class="btn-check" name="mealtime_btnradio" id="btnradio1" autocomplete="off" {% if mealtime == "Breakfast" %} checked {% endif %}>
        <label class="nt-btn btn btn-dhall btn-primary" for="btnradio1">Breakfast</label>
        <input type="radio" value="Lunch" class="btn-check" name="mealtime_btnradio" id="btnradio2" autocomplete="off" {% if mealtime == 'Lunch' %} checked {% endif %}>
        <label class="nt-btn btn btn-dhall btn-primary" for="btnradio2">Lunch</label>
        {% elif is_weekend_var %}
        <input type="radio" value="Lunch" class="btn-check" name="mealtime_btnradio" id="btnradio2" autocomplete="off" {% if mealtime == 'Lunch' %} checked {% endif %}>
        <label class="nt-btn btn btn-dhall btn-primary" for="btnradio2">Brunch</label>
        {% endif %}
        <input type="radio" value="Dinner" class="btn-check" name="mealtime_btnradio" id="btnradio3" autocomplete="off" {% if mealtime == 'Dinner' %} checked {% endif %}>
        <label class="nt-btn btn btn-dhall btn-primary" for="btnradio3">Dinner</label>
    </div>
    <h4 class>Click on a food to see its nutritional contents.</h4>
    <h4> Ready to record what you ate? </h4>
    <a id="logFoodMenus" href="{{ url_for('log_food') }}" class="btn btn-primary" onclick="linkButtonPressed(this.id)">+ Click to log a Meal</a>
</div>
<div style = "display:none;" id="todaysDateDivUpdate">{{ todays_date }}</div>
<div class="p-5 row row-nt row-cols-1 row-cols-md-3 g-4">
    {% set ns = namespace(c = 0) %}
    {% for item in data %}

    <div class="col meal {{ item.mealtime }}" {% if mealtime not in item.mealtime %} style = "display: none;" {% endif %}>
        <div class="card h-100 card-body-dhall-menus ">
            <div class="card-body"  >
                <h2 class="card-title text-center">{{ item.dhall }}</h2>
                {% set outer_outer_loop = loop %}
                {% for category, foods in item.data.items() %}
                <strong><h5>{{ category }}</h5></strong>
                {% set outer_loop = loop %}
                {% for food, code in foods.items() %}
                <a tabindex="0" class="nt-btn btn nt-food-text" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-container="body" data-content-id="popover-{{ outer_outer_loop.index }}-{{ outer_loop.index }}-{{ loop.index }}">{{ food }}</a>
                <!-- data-bs-trigger="hover focus" -->
                <!-- style="display: none;" -->
                <div style="display: none;" id="popover-{{ outer_outer_loop.index }}-{{ outer_loop.index }}-{{ loop.index }}">
                    {% if ns.c < nutrition_info|length and nutrition_info[ns.c]['calories'] != "" %}
                    <div class="center">
                        <h4>Nutrition Facts</h4>
                        <h6>{{ nutrition_info[ns.c]['mealname'] }}</h6>
                    </div>
                    <div class="center">
                        <ul>
                            <li><strong>Serving Size:</strong> {{ nutrition_info[ns.c]['servingsize'] }} </li>
                            <li><strong>Calories:</strong> {{ nutrition_info[ns.c]['calories'] }}</li>
                            <li><strong>Protein:</strong>  {{ nutrition_info[ns.c]['proteins'] }}g</li>
                            <li><strong>Carbohydrates:</strong> {{ nutrition_info[ns.c]['carbs'] }}g</li>
                            <li><strong>Fats:</strong> {{ nutrition_info[ns.c]['fats'] }}g</li>
                            <li><strong>Ingredients:</strong> {{ nutrition_info[ns.c]['ingredients'] }}</li>
                            <li><strong>Allergens:</strong> {{ nutrition_info[ns.c]['allergen'] }}</li>
                        </ul>
                        <h3>
                            <a href="{{ nutrition_info[ns.c]['link'] }}" target="childWindow" class="btn btn-more-info">More Information
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                            </a>
                        </h3>
                    </div>
                    {% else %}
                    <div class="center">
                        Nutritional Information is not available for this recipe.
                    </div>
                    {% endif %}
                </div>
                <br>
                {% set ns.c = ns.c + 1 %}
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}

    {% for item in missingdata %}
    <div class="col meal {{ item.mealtime }}" {% if item.mealtime != mealtime %} style = "display: none;" {% endif %}>
        <div class="card h-100 card-body-dhall-menus ">
            <div class="card-body"  >
                <h2 class="card-title text-center">{{ item.dhall }}</h2>
                <center>
                    <h5>No data is available</h5>
                </center>
            </div>
        </div>
    </div>
    {% endfor %}
</div>