<!--border for each food row-->

<div class="food-row-wrap card border-primary p-3 mb-3">
    <div class="col">
        <!--Label Column-->
        <span>{{ mealname }}</span>
        <!--Serving Lineedit Column-->
        <div class="col d-flex align-items-center justify-content-end">
            <input type="serving" class="form-control small-input" placeholder="Servings">

            <!--Close button column-->
            <button type="button" class=" btn-close btn-sm" aria-label="Close"></button>
        </div>
    </div>
</div>