<!--border for each food row-->

<div class="card border-primary p-2 mb-3" id="myplate-{{ uniqueid }}">
    <div class="row">
        <div class="col">
            <!-- Food label and location/time subtitle -->
            <span>{{ mealname }}</span>
            <p class="text-muted mb-0">{{  details }}</p>
        </div>
        <div class="col-auto d-flex align-items-center">
            <!-- Serving Lineedit Column and Close button -->
            <div id="new_entry" class="d-flex align-items-center">
                <!-- Serving Lineedit -->
                <input type="number" onpaste="return false;" step="any" min="0.01" max="100" class="form-control small-input mr-2" data-usda="{{ usda }}"
                data-cals="{{ cals }}"
                data-recid="{{ recid }}" data-mealname="{{ mealname }}" data-carbs="{{ carbs }}" data-fats="{{ fats }}" data-prots="{{ prots }}"
                placeholder="Servings" value="1" oninput="handleServingChange(this)" required
                onkeypress="return isValid(event)">


                <!-- Close button -->
                <button type="button" id="close-{{ uniqueid }}" class="btn btn-close btn-sm" aria-label="Close"
                onclick="closeMyPlate(this)" data-checkid="{{ checkid }}" data-myplateid="myplate-{{ uniqueid }}"></button>
            </div>
        </div>
    </div>
</div>


<script>

    // Validate the serving inputs
    function isValid(input) {
        var charCode = input.which || input.keyCode;
        var value = input.target.value;

        // If the pressed key is a '-'
        if (input.charCode === 45)
            return false;

        // If the key contains nonvalid chars 
        if ((input.charCode < 48 || input.charCode > 57) && input.charCode !== 46)
            return false;
        
        // Limit input to 2 decimal places
        if (value.indexOf('.') !== -1 && value.length - value.indexOf('.') > 2)
            return false;
        return true;
    }

</script>
