<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<nav class="nt-color-navbar navbar fixed-top" id = "navbar">
	{% include 'hmenu.html' %}
	<div class="nt-navbar-center order-0 justify-content-center">
		<a class="navbar-brand" href="/homepage">
			<img src="{{ url_for('static', filename='media/favicon.ico') }}" alt="NutriTiger Logo" class="logo" style="width: 30px; height: auto;">
			NutriTiger
		</a>
	</div>
	<div class="order-3 d-none d-md-block nt-nav-item">
		<a class="navbar-brand {% if current_page == 'home' %} nt-activated{% endif %}" href="{{ url_for('homepage')}}">Homepage</a>
		<a class="navbar-brand" href="{{ url_for('log_food')}}">Log Meals</a>
		<a class="navbar-brand" href="{{ url_for('dhall_menus')}}">Menus</a>
	</div>
</nav>
