<!--==============================================================-->
<!-- settings.html                                                   -->
<!--==============================================================-->

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Settings</title>
    {% include 'bootstrap.html' %}
</head>

<body>
    {% include 'navbar.html' %}
    {% set current_page = 'settings' %}

    <h1 class="m-3 text-center">My Information</h1> 
    <div class="text-center">
        <form action="/settings" method="post">
            Set Calorie Goal:
            <input type="number" name="line" placeholder="Enter the number here" min="0"><br>
            <button type="submit">Save</button>
        </form>
    </div>
    {% include 'caloriecalculator.html' %}

</body>
</html>