<!--==============================================================-->
<!-- settings.html                                                   -->
<!--==============================================================-->

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Settings</title>
    {% include 'bootstrap.html' %}
</head>

<body>
    {% include 'navbar.html' %}
    {% set current_page = 'settings' %}

    <div class="container-fluid">
        <h1 class="m-3 text-center">My Information</h1> 
        <div class="text-center">
            <form action="/settings" method="post">
                Set Calorie Goal:
                <input type="number" name="line" placeholder="Enter the number here" min="0" required><br>
                <button type="submit">Save</button>
            </form>
        </div>

    <p class="text-center m-3">
        Don't know your calorie goal? click <strong>here</strong> to see your 
        _______ recommended caloric intake based on your goals. 
    </p>
        
</body>
</html>